.vscode/launch.json

banco/models/__pycache__/__init__.cpython-311.pyc
banco/models/__pycache__/cliente.cpython-311.pyc
banco/models/__pycache__/conta.cpython-311.pyc
banco/utils/__pycache__/__init__.cpython-311.pyc
banco/utils/__pycache__/helper.cpython-311.pyc
